# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=evntra_db
DB_DIALECT=mysql
DB_LOGGING=false

# JWT
JWT_SECRET=supersecret

# S3
S3_BUCKET=your-bucket
S3_REGION=ap-south-1
AWS_ACCESS_KEY_ID=ABC...
AWS_SECRET_ACCESS_KEY=XYZ...
S3_SIGN_EXPIRATION=300

# App
PORT=4000
